In [1085]:
import pandas as pd
import numpy as np

In [1086]:
#pemanggilan data
df = pd.read_csv("e:\PENDMAT UNNES21\SEMESTER VII\Data Mining\movie_sample_dataset.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_1760\1139084090.py:2: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("e:\PENDMAT UNNES21\SEMESTER VII\Data Mining\movie_sample_dataset.csv")

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Color,Steve McQueen,134,56667870.0,Biography|Drama|History,12 Years a Slave,2013,English,USA,20000000.0,8.1,"Quvenzhané Wallis,Scoot McNairy,Taran Killam",83000
95,Color,Richard J. Lewis,134,7501404.0,Comedy|Drama,Barney's Version,2010,English,Canada,NaN,7.3,"Mark Addy,Atom Egoyan,Paul Gross",0
96,Color,Paul Greengrass,134,107100855.0,Biography|Drama|Thriller,Captain Phillips,2013,English,USA,55000000.0,7.9,"Tom Hanks,Chris Mulkey,Michael Chernus",65000
97,Color,David Ayer,134,85707116.0,Action|Drama|War,Fury,2014,English,USA,68000000.0,7.6,"Brad Pitt,Logan Lerman,Jim Parrack",82000
98,Color,Clint Eastwood,5,47034272.0,Biography|Drama|Music|Musical,Jersey Boys,2014,English,USA,40000000.0,6.9,"Johnny Cannizzaro,Steve Schirripa,Scott Vance",16000

In [1087]:
#menampilkan 5 baris pertama dari dataset
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

In [1088]:
#memeriksa informasi umum dari dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB

In [1089]:
#memeriksa jumlah missing values di setiap kolom
np.sum(df.isnull())

c:\Users\lenovo\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

color                   11
director_name           11
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

In [1090]:
#mengetahui jumlah missing value di seluruh dataset
df.isnull().sum().sum()

np.int64(35)

In [1091]:
#mengecek tipe data
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

Berdasarkan output summarize tersebut, diperoleh bahwa kolom yang mengandung Missing Values (blanks/ N/A (Python : nan atau NaN)) adalah kolom color, director_name, gross, genres, budget.

1. Color

In [1092]:
#melihat isi dalam kolom color
df['color'].unique()

array(['Color', 'color ', nan, ' Black and White'], dtype=object)

In [1093]:
#jumlah missing value
np.sum(df['color'].isnull())

np.int64(11)

In [1094]:
#data berupa kategorik maka tidak dapat diisi menggunakan nilai mean. Sehingga akan diisi dengan modus
from scipy.stats import mode
df['color'].mode()

0    Color
Name: color, dtype: object

In [1095]:
#memasukkan modus ke data missing

#imputasi data kategorik dengan modus
df['color'] = df['color'].fillna(df['color'].value_counts().index[0])

In [1096]:
#jumlah missing value
np.sum(df['color'].isnull())

np.int64(0)

2. Director Name

In [1097]:
#melihat isi dalam kolom director_name
df['director_name'].unique()

array(['Martin Scorsese', 'Shane Black', 'Quentin Tarantino',
       'Kenneth Lonergan', 'Peter Jackson', nan, 'Edward Hall',
       'Joss Whedon', 'Tom Tykwer', 'Null', 'Christopher Spencer',
       'Christopher Nolan', 'F. Gary Gray', 'Richard Linklater',
       'Michael Bay', 'Tom Hooper', 'Kathryn Bigelow', 'Ridley Scott',
       'Denis Villeneuve', 'Gnana Rajasekaran', 'Marc Webb', 'Nan',
       'Mike Leigh', 'Gore Verbinski', 'David Fincher', 'Bryan Singer',
       'Jay Oliva', 'Paul Thomas Anderson', 'Sam Mendes',
       'Michael Patrick King', 'Tate Taylor', 'Francis Lawrence',
       'Steven Spielberg', 'Guillaume Canet', 'Adam McKay', 'Zack Snyder',
       'Baz Luhrmann', 'Timur Bekmambetov', 'Justin Chadwick',
       'Oliver Stone', 'David Dobkin', 'Ryan Murphy', 'James Wan',
       'Derek Cianfrance', "Gavin O'Connor", 'Gary Ross',
       'Terrence Malick', 'Robert Zemeckis', 'Darren Aronofsky',
       'James Mangold', 'Daniel Espinosa', 'Walter Salles',
       'Angelina Jolie Pitt', 'Seth MacFarlane', 'Anthony Russo',
       'Rob Marshall', 'Adam Shankman', 'Sadyk Sher-Niyaz', 'Tony Gilroy',
       'Steve McQueen', 'Richard J. Lewis', 'Paul Greengrass',
       'David Ayer', 'Clint Eastwood'], dtype=object)

In [1098]:
#jumlah missing value
np.sum(df['director_name'].isnull())

np.int64(11)

In [1099]:
#imputasi data kategorik dengan kata 'tidak diketahui'
df['director_name'] = df['director_name'].fillna('tidak diketahui')

In [1100]:
df['director_name'].unique()

array(['Martin Scorsese', 'Shane Black', 'Quentin Tarantino',
       'Kenneth Lonergan', 'Peter Jackson', 'tidak diketahui',
       'Edward Hall', 'Joss Whedon', 'Tom Tykwer', 'Null',
       'Christopher Spencer', 'Christopher Nolan', 'F. Gary Gray',
       'Richard Linklater', 'Michael Bay', 'Tom Hooper',
       'Kathryn Bigelow', 'Ridley Scott', 'Denis Villeneuve',
       'Gnana Rajasekaran', 'Marc Webb', 'Nan', 'Mike Leigh',
       'Gore Verbinski', 'David Fincher', 'Bryan Singer', 'Jay Oliva',
       'Paul Thomas Anderson', 'Sam Mendes', 'Michael Patrick King',
       'Tate Taylor', 'Francis Lawrence', 'Steven Spielberg',
       'Guillaume Canet', 'Adam McKay', 'Zack Snyder', 'Baz Luhrmann',
       'Timur Bekmambetov', 'Justin Chadwick', 'Oliver Stone',
       'David Dobkin', 'Ryan Murphy', 'James Wan', 'Derek Cianfrance',
       "Gavin O'Connor", 'Gary Ross', 'Terrence Malick',
       'Robert Zemeckis', 'Darren Aronofsky', 'James Mangold',
       'Daniel Espinosa', 'Walter Salles', 'Angelina Jolie Pitt',
       'Seth MacFarlane', 'Anthony Russo', 'Rob Marshall',
       'Adam Shankman', 'Sadyk Sher-Niyaz', 'Tony Gilroy',
       'Steve McQueen', 'Richard J. Lewis', 'Paul Greengrass',
       'David Ayer', 'Clint Eastwood'], dtype=object)

In [1101]:
#jumlah missing value
np.sum(df['director_name'].isnull())

np.int64(0)

3. Gross

In [1102]:
#melihat isi dalam kolom gross
df['gross'].unique()

array([1.16866727e+08, 4.08992272e+08, 5.41161910e+07, 4.64950000e+04,
       2.58355354e+08, 3.30249062e+08, 3.03001229e+08,            nan,
       6.23279547e+08, 2.70985800e+07, 1.02515793e+08, 5.96961760e+07,
       1.87991439e+08, 1.61029270e+08, 2.53592000e+07, 1.62804648e+08,
       2.45428137e+08, 4.48130642e+08, 2.55108370e+08, 1.48775460e+08,
       9.57207160e+07, 1.05219735e+08, 1.83635922e+08, 3.52358779e+08,
       6.09628780e+07, 2.62030663e+08, 2.28430993e+08, 6.50070450e+07,
       1.82204440e+08, 3.95850000e+06, 8.92899100e+07, 1.67735396e+08,
       2.33914986e+08, 2.92568851e+08, 8.09331800e+06, 2.00074175e+08,
       4.07197282e+08, 9.53289370e+07, 1.69705587e+08, 4.24645577e+08,
       7.98833590e+07, 5.28224180e+07, 4.12290000e+04, 1.63772740e+07,
       1.54985087e+08, 2.17531200e+06, 2.91021565e+08, 3.04360277e+08,
       1.44812796e+08, 7.23060650e+07, 2.02853933e+08, 4.07999255e+08,
       4.58991599e+08, 8.32474800e+06, 4.73075500e+07, 4.71050850e+07,
       8.05740100e+07, 3.50034110e+08, 2.13832980e+07, 1.36516620e+07,
       1.50832203e+08, 2.03899670e+07, 3.05139400e+07, 1.33033190e+07,
       1.50117807e+08, 9.37492030e+07, 1.01160529e+08, 1.27968405e+08,
       1.69693900e+07, 1.32550960e+08, 1.20613500e+06, 3.73049500e+07,
       7.17753000e+05, 2.81666058e+08, 1.15603980e+08, 4.26156850e+07,
       2.59746958e+08, 2.41063875e+08, 3.85093420e+07, 5.24746160e+07,
       1.13165635e+08, 5.66678700e+07, 7.50140400e+06, 1.07100855e+08,
       8.57071160e+07, 4.70342720e+07])

In [1103]:
#jumlah missing value
np.sum(df['gross'].isnull())

np.int64(8)

In [1104]:
#imputasi data numerik dengan mean
df['gross']=df['gross'].fillna(df['gross'].mean())
np.mean(df['gross'])

np.float64(154191431.27472526)

In [1105]:
#jumlah missing value
np.sum(df['gross'].isnull())

np.int64(0)

4. Genres

In [1106]:
#melihat isi dalam kolom genres
df['genres'].unique()

array(['Biography|Comedy|Crime|Drama', 'Action|Adventure|Sci-Fi',
       'Crime|Drama|Mystery|Thriller|Western', 'Drama',
       'Adventure|Fantasy', 'Drama|Romance', 'Drama|Sci-Fi',
       'Crime|Drama|Mystery|Thriller', nan, 'Adventure|Drama|Sci-Fi',
       'Biography|Crime|Drama|History|Music', 'Drama|Western',
       'Action|Thriller', 'Drama|Musical|Romance',
       'Drama|History|Thriller', 'Action|Adventure|Drama|History',
       'Adventure|Drama|Thriller|Western', 'Biography|Drama|History',
       'Action|Adventure|Fantasy', 'Action|Adventure|Drama',
       'Biography|Drama|History|War', 'Action|Adventure|Western',
       'Action|Adventure|Fantasy|Sci-Fi|Thriller',
       'Action|Animation|Crime|Sci-Fi|Thriller',
       'Action|Adventure|Sci-Fi|Thriller',
       'Comedy|Crime|Drama|Mystery|Romance', 'Action|Adventure|Thriller',
       'Comedy|Drama|Romance', 'Adventure|Sci-Fi|Thriller', 'Drama|War',
       'Action|Drama|Thriller|War', 'Crime|Drama|Thriller', 'Comedy',
       'Action|Adventure|Fantasy|Sci-Fi', 'Drama|Horror|Thriller',
       'Adventure|Drama|Sci-Fi|Thriller', 'Adventure|Drama|History',
       'Crime|Drama', 'Action|Crime|Thriller', 'Drama|Sport',
       'Adventure|Mystery|Sci-Fi', 'Action|Biography|Drama|History|War',
       'Biography|Drama|Music', 'Drama|Fantasy', 'Drama|Thriller',
       'Mystery|Thriller', 'Biography|Crime|Drama', 'Adventure|Drama',
       'Adventure|Sci-Fi', 'Biography|Drama|Sport|War', 'Comedy|Western',
       'Comedy|Drama|Musical|Romance', 'Action|Biography|Drama|History',
       'Comedy|Drama', 'Biography|Drama|Thriller', 'Action|Drama|War',
       'Biography|Drama|Music|Musical'], dtype=object)

In [1107]:
#jumlah missing value
np.sum(df['genres'].isnull())

np.int64(1)

In [1108]:
#imputasi dengan kata 'tidak diketahui'
df['genres'] = df['genres'].fillna('tidak diketahui')

In [1109]:
#jumlah missing value
np.sum(df['genres'].isnull())

np.int64(0)

5. Budget

In [1110]:
#melihat isi dalam kolom budget
df['budget'].unique()

array([1.000e+08, 2.000e+08, 4.400e+07, 1.400e+07, 2.250e+08, 2.500e+08,
       1.800e+08,       nan, 2.200e+08, 1.020e+08, 9.000e+07, 2.200e+07,
       1.650e+08, 2.800e+07, 4.000e+06, 2.100e+08, 6.100e+07, 4.000e+07,
       1.350e+08, 1.950e+08, 4.600e+07, 2.300e+08, 1.080e+08, 1.400e+08,
       6.500e+07, 2.150e+08, 3.500e+06, 1.600e+08, 2.000e+07, 2.450e+08,
       2.500e+07, 1.300e+08, 6.600e+07, 5.000e+07, 2.550e+07, 3.200e+07,
       1.780e+08, 1.050e+08, 1.735e+04, 7.800e+07, 3.500e+07, 4.500e+07,
       6.000e+07, 1.900e+08, 1.500e+07, 8.500e+07, 3.000e+07, 3.100e+07,
       1.250e+08, 8.000e+07, 1.200e+08, 1.700e+08, 7.500e+07, 7.000e+07,
       1.400e+06, 5.500e+07, 6.800e+07])

In [1111]:
#jumlah missing value
np.sum(df['budget'].isnull())

np.int64(4)

In [1112]:
#imputasi data numerik dengan mean
df['budget']=df['budget'].fillna(df['budget'].mean())
np.mean(df['budget'])

np.float64(104857024.73684211)

In [1113]:
#jumlah missing value
np.sum(df['budget'].isnull())

np.int64(0)

In [1114]:
np.sum(df.isnull())

c:\Users\lenovo\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

color                   0
director_name           0
duration                0
gross                   0
genres                  0
movie_title             0
title_year              0
language                0
country                 0
budget                  0
imdb_score              0
actors                  0
movie_facebook_likes    0
dtype: int64

In [1115]:
#menghapus baris yang memiliki nilai kosong di kolom gross dan budget.
df_clean = df_clean.dropna(subset=['gross', 'budget'])
df_clean

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,color,martin scorsese,240,116866727.0,biography|comedy|crime|drama,The Wolf of Wall Street,2013,english,usa,1.000000e+08,8.2,english,138000
1,color,shane black,195,408992272.0,action|adventure|sci-fi,Iron Man 3,2013,english,usa,2.000000e+08,7.2,english,95000
2,color,quentin tarantino,187,54116191.0,crime|drama|mystery|thriller|western,The Hateful Eight,2015,english,usa,4.400000e+07,7.9,english,114000
3,color,kenneth lonergan,186,46495.0,drama,Margaret,2011,english,usa,1.400000e+07,6.5,english,0
4,color,peter jackson,186,258355354.0,adventure|fantasy,The Hobbit: The Desolation of Smaug,2013,english,usa,2.250000e+08,7.9,english,83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,color,steve mcqueen,134,56667870.0,biography|drama|history,12 Years a Slave,2013,english,usa,2.000000e+07,8.1,english,83000
95,color,richard j. lewis,134,7501404.0,comedy|drama,Barney's Version,2010,english,canada,1.048570e+08,7.3,english,0
96,color,paul greengrass,134,107100855.0,biography|drama|thriller,Captain Phillips,2013,english,usa,5.500000e+07,7.9,english,65000
97,color,david ayer,134,85707116.0,action|drama|war,Fury,2014,english,usa,6.800000e+07,7.6,english,82000
98,color,clint eastwood,5,47034272.0,biography|drama|music|musical,Jersey Boys,2014,english,usa,4.000000e+07,6.9,english,16000

In [1116]:
#normalisasi teks ke huruf kecil
df_clean['color'] = df_clean['color'].str.lower()
df_clean['director_name'] = df_clean['director_name'].str.lower()
df_clean['genres'] = df_clean['genres'].str.lower()
df_clean['language'] = df_clean['language'].str.lower()
df_clean['country'] = df_clean['country'].str.lower()
df_clean['actors'] = df_clean['language'].str.lower()

#mengecek apakah teks sudah menjadi huruf kecil atau belum
df_clean['actors']

0     english
1     english
2     english
3     english
4     english
       ...
94    english
95    english
96    english
97    english
98    english
Name: actors, Length: 99, dtype: object

In [1117]:
#memfilter baris dengan nilai budget dan gross yang bernilai negatif
df_clean = df_clean[(df_clean['budget'] >= 0) & (df_clean['gross'] >= 0)]

In [1118]:
#mengubah tipe data kolom yang diperlukan
df_clean[["color", "director_name", "genres"]]=df_clean[["color", "director_name", "genres"]].astype(str)
df_clean[["budget", "gross"]]=df_clean[["budget", "gross"]].astype(float)
df_clean.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

In [1119]:
#menyimpan data yang telah diproses ke dalam file CSV baru
df_clean.to_csv('movie_dataset_cleaned.csv')

In [1120]:
datanonmissing = pd.read_csv("e:\PENDMAT UNNES21\SEMESTER VII\Data Mining\Tugas Praktikum Preprocessing\.vscode/movie_dataset_cleaned.csv")

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\lenovo\AppData\Local\Temp\ipykernel_1760\3665188518.py:1: SyntaxWarning: invalid escape sequence '\P'
  datanonmissing = pd.read_csv("e:\PENDMAT UNNES21\SEMESTER VII\Data Mining\Tugas Praktikum Preprocessing\.vscode/movie_dataset_cleaned.csv")

In [1121]:
datanonmissing = datanonmissing.dropna(axis='columns')

In [1122]:
datanonmissing.head()

,Unnamed: 0,color,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,0,color,240,116866727.0,biography|comedy|crime|drama,The Wolf of Wall Street,2013,english,usa,100000000.0,8.2,english,138000
1,1,color,195,408992272.0,action|adventure|sci-fi,Iron Man 3,2013,english,usa,200000000.0,7.2,english,95000
2,2,color,187,54116191.0,crime|drama|mystery|thriller|western,The Hateful Eight,2015,english,usa,44000000.0,7.9,english,114000
3,3,color,186,46495.0,drama,Margaret,2011,english,usa,14000000.0,6.5,english,0
4,4,color,186,258355354.0,adventure|fantasy,The Hobbit: The Desolation of Smaug,2013,english,usa,225000000.0,7.9,english,83000

In [1123]:
datanonmissing = datanonmissing.dropna()

In [1124]:
datanonmissing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            99 non-null     int64
 1   color                 99 non-null     object
 2   duration              99 non-null     int64
 3   gross                 99 non-null     float64
 4   genres                99 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                99 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(4), object(6)
memory usage: 10.2+ KB